# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\SSMExample-For-Bank-To-Day-Transaction-System-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
